{% set works = __SELF__.works %}
<div class="work-list">
    {% for work in works %}<div class="work" id="work{{work.id}}">
        <img class="work__background" src="{{ 'assets/images/fnd-work.gif' | theme}}" alt="">
        <img class="work__image" src="{{work.featured_image.path}}" alt="{{work.name}}">
        <div class="work__info">
            <div class="work__infotable">
                <div class="work__infocell">
                    <h2 class="work__title">{{ work.name}}</h2>
                    <h3 class="work__subtitle">{{work.description}}</h3>
                    <a href="#view-work/{{work.id}}/{{ work.slug }}" class="work__button">ver proyecto</a>
                </div>
            </div>
    </div>

    </div>{% endfor %}
</div>

<div id="workdetail"></div>

{#

<div class="work-background">
    <div class="work-info">
        <img src="{{ 'assets/images/btn-close.svg' | theme}}" class="work-close">
        <h2 class="work-detail__title">{{works[1].name}}</h2>
        <h3 class="work-detail__subtitle">{{works[1].description}}</h3>
    </div>
    <div class="work-detail">

        <div class="work-detail__content">{{works[1].content | raw}}</div>
    </div>
</div>
#}